.file-uploader {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px dashed #ccc;
    border-radius: 0.4rem;
    display: inline-block;
    overflow: hidden;
    width: min(calc(100vw - 5em), 250px);
}

@media (max-width: 568px) {
    .file-uploader {
        width: calc(100vw - 5em);
    }
}