<include type="script" src="main.js" defer/>
<include type="style" src="style.css"/>

<h3 style=``
    margin: 0;
    margin-bottom: 0.5rem;
``>Upload your file here</h3>

<% if(typeof info != 'undefined') { %>
    <h4><%= info %></h4>
<% } %>

<form id="upload" action="/upload_file" method="post" enctype="multipart/form-data">
    <fileUploader/>
    <div id="progress" style=``
        display: none;
        margin-block: 0.5em;
    ``>
        <progress id="progress-bar" value="40" max="100"></progress>
        <div style=``
            margin-block: 0.8em;
        ``>
            <b>We're uploading your file...</b><br>
            <b>Elapsed time: </b><div id="upload-elapsed" class="uel">00:00</div><br>
            <b>Remaining time: </b><div id="upload-remaining" class="uel">00:00</div><br>
            <b>Average speed: </b><div id="upload-speed" class="uel">0kb/s</div>
        </div>
    </div>
    <button style=``
        display: block;
        margin-top: 0.5em;
    `` type="submit">Upload</button>
</form>