#progress-bar {
    width: min(calc(100vw - 4em), 270px);
}

progress {
    border-radius: 3px; 
    height: 0.5em;
    outline: 1px solid rgb(39, 39, 39);
}

progress::-webkit-progress-bar {
    background-color: rgb(32, 32, 32);
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

button {
    width: min(calc(100vw - 4em), 270px);
}

.uel {
    display: inline-block;
}

button {
    border: none;
    background-color: rgb(50, 50, 50);
    height: 3em;
    min-width: 4em;
    border-radius: 1em;
    padding: 1em;
    color: white;
    cursor: pointer;

    transition: 0.2s background-color;
}

button:hover {
    background-color: rgb(55, 55, 55);
}

@media (max-width: 568px) {
    #progress-bar {
        width: 100%;
    }
    
    button {
        width: 100%;
    }
}