<include type="style" src="css/player.css"/>

<include type="script" src="js/playPause.js" defer/>
<include type="script" src="js/download.js" defer/>

<iframe id="my_iframe" style="display:none;"></iframe>
<div id="video-player">
    <h3 style="margin-top: 0; margin-bottom: 0.7em;">Select what do you want to do</h3>
    <videoPlayer src="<%= file %>" id="video-player-src"/>

    <div id="down-buttons" style=``
        justify-content: space-between !important;
        max-width: 50em !important;
    ``>
        <button class="noselect" id="play-button">
            <i class="fa-solid fa-play" id="play-icon"></i>
            <i class="fa-solid fa-pause" id="pause-icon" style="display: none;"></i>
        </button>
        <a href="<%= file %>" download="<%= fileName %>"><button class="noselect" id="download-button">
            Download
        </button></a>
    </div>
</div>