<include type="style" src="style.css"/>

<h2>What is universal-tool?</h2>
<p>universal-tool allows you almost anything you can imagine on single page!</p>

<h2>But, why?</h2>
<p>We were really tired of pages that attack you with thousands of ads and limit that you can extend with credits. On our site every tool is free and you can use it as much as you want.</p>

<h2>API</h2>
<p>You can use universal-tool API to perform any action you want. You can use it to create your own tools and integrate it into your website.</p>

<h2>Inspiration</h2>
<p>We are inspired by <a href="http://www.ezgif.com">ezgif</a>, they did great job with their GIF and video tools!</p>