h2 {
    margin: 0;
    font-size: 1.5rem;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

p a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

p:last-child {
    margin-bottom: 0;
}