<include type="style" src="style.css"/>
<include type="ejs-script" src="time.js"/>
<include type="script" src="time.js"/>
<include type="script" src="updater.js"/>

<h3 style=``
    margin: 0;
    margin-bottom: 0.5rem;
``>We are working on it...</h3>

<div id="content">
    Your action: <%= action %><br>

    Time elapsed: <div id="time-elapsed" style=``
        display: inline-block;
    ``><%= convertMS(new Date() - start) %></div>
</div>

<progress id="progress-bar" value="<%= progress %>" max="100">0%</progress>
<div id="console">
    
</div>