<include type="style" src="css/player.css"/>

<script defer>
    const videoUrl = '<%= file %>';
</script>

<include type="script" src="js/playPause.js" defer/>
<include type="script" src="rotate/export.js" defer/>

<div id="video-player">
    <videoPlayer src="<%= file %>" style=``
        outline: 1px solid rgb(35, 35, 35);
        border-radius: 0.5em;
        margin-block: 0.5em;
    `` id="video-player-src"/>

    <div id="down-buttons">
        <div class="left-buttons">
            <button class="noselect" id="play-button">
                <i class="fa-solid fa-play" id="play-icon"></i>
                <i class="fa-solid fa-pause" id="pause-icon" style="display: none;"></i>
            </button>
            <button class="noselect" id="rotate-90-right" onclick="action('rotate-90-right')">
                Rotate 90° to right
            </button>
            <button class="noselect" id="rotate-90-left" onclick="action('rotate-90-left')">
                Rotate 90° to left
            </button>
            <button class="noselect" id="rotate-90-left" onclick="action('rotate-180')">
                Rotate 180°
            </button>
            <button class="noselect" id="mirror-horizontally" onclick="action('mirror-horizontally')">
                Mirror horizontally
            </button>
            <button class="noselect" id="mirror-vertically" onclick="action('mirror-vertically')">
                Mirror vertically
            </button>
        </div>
        <div class="right-buttons">
            <a href="<%= file %>" download="<%= fileName %>"><button class="noselect" id="download-button">
                Download current
            </button></a>
        </div>
    </div>
</div>