body {
    overflow-x: hidden;
}

.window {
    position: absolute;
    width: auto;
    min-width: 10em;
    font-size: 0.8em;
    color: rgb(199, 199, 199) !important;
    font-family: 'Lato', sans-serif;
}

.whead {
    padding-inline: 0.5em;
    padding-block: 0.2em;
    display: flex;
    justify-content: space-between;
    font-weight: 550;
    padding-top: 0.2em;
    background: linear-gradient(to bottom, rgb(44, 44, 44) 0%, rgb(36, 36, 36) 100%);
    border: 1px solid rgb(38, 38, 38);
}

.wbody {
    background-color: rgb(43, 43, 43);
    padding: 0.5em;
    border: 1px solid rgb(60, 60, 60);
    border-top: 1px solid rgb(31, 31, 31);
}

.wcontent {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.draggable .whead {
    border-radius: 0.3em 0.3em 0 0;
}

.draggable .wbody {
    border-radius: 0 0 0.5em 0.5em;
}

.wbody input, select {
    outline: none;
    border: none;
    font-weight: 500;
    color: rgb(201, 201, 201);
    background-color: rgb(35, 35, 35);
    border-radius: 0.2em;
    padding: 0.3em;
    padding-inline: 0.5em;
    text-decoration: none !important;
}

.whead .cross {
    color: white;
    cursor: pointer;
    transform: rotate(0deg);

    transition: 0.1s color;
    transition: 0.3s transform;
}

.wrow {
    display: flex;
    gap: 0.7em;
    align-items: center;
}

.whead .cross:hover {
    color: rgb(255, 127, 127);
    transform: rotate(90deg);
}

.window input::-webkit-outer-spin-button,
.window input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.window input[type=number] {
  -moz-appearance: textfield;
}

.whidden {
    display: none;
}

.wbutton {
    border-radius: 1em;
    height: 2em !important;
    min-width: 5em;
    padding: 0;
    font-size: 0.8em;
    color: rgb(199, 199, 199);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0) !important;
}

.wbutton:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
}