h2 {
    margin: 0;
    margin-bottom: 0.5em;
}

input {
    background-color: #1e2f4d;
    border: 1px solid rgb(27, 63, 117);
    height: 2em;
    width: 30em;
    border-radius: 0.4em;
    color: white;
    padding: 0.5em;
}

input:focus {
    outline-width: 0;
    border: 1px solid#2159b4;
}

button {
    height: 3em;
    padding: 0.8em;
    background-color: #1e2f4d;
    border: 1px solid rgb(27, 63, 117);
    border-right: none;
    color: #ccc;
    border-radius: 0.4em;
    cursor: pointer;
    transition: 0.2s background-color;
}

button:hover {
    background-color: #29436e;
}

#paste {
    position: absolute;
    transform: translate(-110%, 0.3em);
    z-index: 1;
    padding: 0.5em;
    height: 2.5em;
    background-color: #1e2f4d;
    border: 1px solid rgb(27, 63, 117);
}

#paste svg {
    transform: translateY(12%);
}

#paste:hover {
    background-color: #29436e;
}

#convert-selection {
    display: inline-flex;
    width: 10em;
    height: 2.5em;
}

#export-button {
    border-radius: 0.4em 0 0 0.4em;
    height: 100%;
    width: 50%;
}

#select {
    border-radius: 0 0.4em 0.4em 0;
    width: 50%;
    background-color: #1e2f4d;
    border: 1px solid rgb(27, 63, 117);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s background-color;
    cursor: pointer;
}

svg {
    transform: rotate(0deg);
    transition: 0.2s;
}

svg.open {
    transform: rotate(180deg);
    transition: 0.2s;
}

#select:hover {
    background-color: #29436e;
}

#select.open {
    border-radius: 0 0.4em 0 0;
}

#selection-options {
    position: absolute;
    background-color: #1e2f4d;
    border: 1px solid rgb(27, 63, 117);
    border-radius: 0 0 0.4em 0.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(5em - 1px);
    transform: translate(calc(5em - 1px), 100%);
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    opacity: 0;
    transition: 0.2s;
}

#selection-options.open {
    opacity: 1;
    transform: translate(calc(5em - 1px), 2.5em);
}

#selection-options li {
    transition: 0.2s;
    padding-inline: 0.5em;
    padding-block: 0.2em;
    cursor: default;
}

.open li {
    cursor: pointer !important;
}

#selection-options li:hover {
    background-color: #29436e;
}

@media (max-width: 768px) {
    input {
        width: calc(100% - 1em);
    }
    
    #convert-selection {
        display: flex;
        margin-top: 0.5em;
        width: auto;
        overflow: hidden;
    }
    
    #paste {
        display: inline-block;
        position: absolute;
        right: 0;
        transform: translate(-51%, -113%);
    }
    
    #export-button {
        /* width: calc(100% - 5em); */
        /* min-width: 50%; */
        width: 100%;
    }
    
    #select {
        width: 6em;
        min-width: 6em;
        max-width: 6em;
        justify-content: space-between;
        padding-inline: 0.5em;
    }

    #selection-options {
        right: 0;
        transform: translate(-2em, 100%);
        width: 7.05em;
    }

    #selection-options.open {
        right: 0;
        transform: translate(-2em, 2.5em);
        width: 7.05em;
    }
}