body {
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: rgb(155, 155, 155);
}

#container {
    width: 1200px;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

ourInspiration {
    color: rgb(207, 207, 207);
    text-shadow: 0 0s 5px rgba(0, 0, 0, 0.8);
}

ourInspiration a {
    font-weight: bold;
    color: white;
    /* color: rgb(225, 255, 118); */
    text-decoration: none;
}

header {
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    width: 300px;
}

div #pageContent {
    margin-top: 1rem;
    padding: 1rem;
    color: rgb(174, 174, 174);
    border-radius: 15px;
    background-color: rgb(41, 41, 41);
}

#categories-list, #sub-categories-list {
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0.1rem;
    gap: 0.1rem;
    overflow: hidden;
}

.category-active {
    background-color: rgb(53, 53, 53) !important;
}

#categories-list {
    margin: 0;
    margin-top: 1rem;
}

#sub-categories-list {
    margin: 0;
    margin-top: 0.5rem;
}

#categories-list ul, #sub-categories-list ul {
    margin: 0;
    padding: 0;
}

#categories-list li, #sub-categories-list li {
    list-style-type: none;
    padding: 0.5rem;
    width: auto;
    min-width: max-content;
    flex: 1 !important;
    margin: 0;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#categories-list li:hover, #sub-categories-list li:hover {
    background-color: rgb(55, 55, 55);
}

@media (max-width: 1200px) {
    #container {
        width: calc(100% - 1rem);
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 768px) {
    #logo {
        margin-left: auto;
        margin-right: auto;
        width: min(300px, 100%);
        display: block;
    }

    header {
        display: block;
    }

    ourInspiration {
        display: none;
        position: absolute;
    }

    #categories-list li, #sub-categories-list li {
        padding-inline: 0.7rem;
    }
}